*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: ghostwhite;
    color: black;
}

.top {
    text-align: left;
}

.container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    align-items: center;
    align-content: center;   
}

.btn {
    background-color: #330066;
    color: ghostwhite;
    margin: 7px;
    border: ghostwhite 3px;
}

.submit-score-btn {
    margin: 0;
    border: 0;
}

.highscore-btn {
    color: black;
    background-color: ghostwhite;
}

.answer-reveal {
    border-top: solid slategray 2px;
    color: slategray;
    font-size: 14pt;
    margin-top: 10px;
}

.start {
    align-items: center;
    align-content: center;
}

.hide {
    display: none;
}